.App-header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #282c34;
	min-height: 100vh; 
}

.slider {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .container {
	width: 60vw;
	height: 400px;
	display: flex;
  }

  .container img {
	width: 100%;
	object-fit: contain;
  }
  
  .slide {
	opacity: 0;
	transition-duration: 1s ease;
  }
  
  .slide.active {
	opacity: 1;
	transition-duration: 1s;
	transform: scale(1.08);
  }
  
  .indicator {
	background-color: aliceblue;
	color: black;
	position: absolute;
}